# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objects:**
unordered list:1.List popular languages for Data Science 2.List popular labraries for Data Science 3.List popular data science tools for Data Science

Some of the popular languages that Data Scientists use are:

ordered_lists:1.python;2.matlab;3.R

order_lists2:1.numpy;2.pandas;3.matpoltlib

Data_Science_Tools

* KNIME
* Apache_Spark
* Metabase

### Below are a few examples of evaluating arithmetic expressions in Python

In [18]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by dividing by 60  
minutes_to_hours = 200 / 60  
  
# 打印结果以验证  
print(minutes_to_hours)

3.3333333333333335

Author:JH
H2 style heading